In [36]:
#dataframes is two dimensional which is in a tabular format

import pandas as pd

#create a dataframe with a dictionary
data={
    "Name":['kingini','tuttu','ikka'],
    "Age":[24,23,24],
    "Place":["koovode","mavoor","punoor"]
}

#convert the dat into dataframes
df=pd.DataFrame(data)
print(df)

      Name  Age    Place
0  kingini   24  koovode
1    tuttu   23   mavoor
2     ikka   24   punoor

In [6]:
#acces the data

print(df['Name'])

0    kingini
1      tuttu
2       ikka
Name: Name, dtype: object

In [9]:
print(df[['Name','Place']])

      Name    Place
0  kingini  koovode
1    tuttu   mavoor
2     ikka   punoor

In [27]:
print(df[['Name','Age','Place']])

      Name  Age    Place
0  kingini   24  koovode
1    tuttu   23   mavoor
2     ikka   24   punoor

In [17]:
#for accessing each row from the dataframe we need to use the inbuild function iloc
print(df.iloc[2])

Name       ikka
Age          24
Place    punoor
Name: 2, dtype: object

In [28]:
print(df[df['Age']>23])

      Name  Age    Place
0  kingini   24  koovode
2     ikka   24   punoor

In [37]:
print(df['Age']>23)

0     True
1    False
2     True
Name: Age, dtype: bool

In [38]:
#add a new column into the dataframe
df['Stipend']=[15000,5000,5000]
print(df)

      Name  Age    Place  Stipend
0  kingini   24  koovode    15000
1    tuttu   23   mavoor     5000
2     ikka   24   punoor     5000

In [39]:
#remove a column
df=df.drop(columns=['Age'])
print(df)

      Name    Place  Stipend
0  kingini  koovode    15000
1    tuttu   mavoor     5000
2     ikka   punoor     5000

In [40]:
print(df.describe())

            Stipend
count      3.000000
mean    8333.333333
std     5773.502692
min     5000.000000
25%     5000.000000
50%     5000.000000
75%    10000.000000
max    15000.000000