In [1]:
import pandas as pd

#read the csv file into the dataframe
df=pd.read_csv('Revisiondata.csv')
print(df)

      Name        Age  Salary
0  Kingini     Kannur   45000
1    Tuttu    Calicut   35000
2   Chinnu  Kolathara   30000
3    Dhamu    Calicut   40000
4     Ikka     Kovoor   50000
5     Angu     Palayi   45000
6  Kuttapi   Chevayur   75000

In [10]:
import pandas as pd

#read the csv file into the dataframe
df2=pd.read_csv('Revisiondata.csv',
                usecols=['Name','Age','Salary'])
print(df2)

      Name        Age  Salary
0  Kingini     Kannur   45000
1    Tuttu    Calicut   35000
2   Chinnu  Kolathara   30000
3    Dhamu    Calicut   40000
4     Ikka     Kovoor   50000
5     Angu     Palayi   45000
6  Kuttapi   Chevayur   75000

In [13]:
import pandas as pd

#read the csv file into the dataframe
df2=pd.read_csv('Revisiondata.csv',
                dtype={'Age':int,'Salary':float},
                usecols=['Name','Age','Salary'])
print(df2)

      Name  Age   Salary
0  Kingini   24  45000.0
1    Tuttu   25  35000.0
2   Chinnu   26  30000.0
3    Dhamu   25  40000.0
4     Ikka   23  50000.0
5     Angu   23  45000.0
6  Kuttapi   23  75000.0

In [38]:
import pandas as pd

#read the csv file into the dataframe
df=pd.read_csv('Revisiondata.csv')
print(df)

      Name   Age      Place   Salary  emptyColumn
0  Kingini  24.0     Kannur  45000.0          NaN
1    Tuttu  25.0    Calicut  35000.0          NaN
2   Chinnu  26.0  Kolathara  30000.0          NaN
3    Dhamu  25.0    Calicut  40000.0          NaN
4     Ikka  23.0     Kovoor  50000.0          NaN
5     Angu  23.0     Palayi  45000.0          NaN
6  Kuttapi  23.0   Chevayur  75000.0          NaN
7      NaN   NaN        NaN      NaN          NaN

In [39]:

#clean the row of empty row
df_cleaned_row=df.dropna(how="all")
print(df_cleaned_row)

      Name   Age      Place   Salary  emptyColumn
0  Kingini  24.0     Kannur  45000.0          NaN
1    Tuttu  25.0    Calicut  35000.0          NaN
2   Chinnu  26.0  Kolathara  30000.0          NaN
3    Dhamu  25.0    Calicut  40000.0          NaN
4     Ikka  23.0     Kovoor  50000.0          NaN
5     Angu  23.0     Palayi  45000.0          NaN
6  Kuttapi  23.0   Chevayur  75000.0          NaN

In [30]:
df_cleaned_col=df_cleaned_row.dropna(axis=1,how="all")
print(df_cleaned_col)

      Name   Age      Place   Salary
0  Kingini  24.0     Kannur  45000.0
1    Tuttu  25.0    Calicut  35000.0
2   Chinnu  26.0  Kolathara  30000.0
3    Dhamu  25.0    Calicut  40000.0
4     Ikka  23.0     Kovoor  50000.0
5     Angu  23.0     Palayi  45000.0
6  Kuttapi  23.0   Chevayur  75000.0
7     pipi   NaN        NaN      NaN

In [29]:
df_filled_data=df.fillna(0)
print(df_filled_data)

      Name   Age      Place   Salary  emptyColumn
0  Kingini  24.0     Kannur  45000.0          0.0
1    Tuttu  25.0    Calicut  35000.0          0.0
2   Chinnu  26.0  Kolathara  30000.0          0.0
3    Dhamu  25.0    Calicut  40000.0          0.0
4     Ikka  23.0     Kovoor  50000.0          0.0
5     Angu  23.0     Palayi  45000.0          0.0
6  Kuttapi  23.0   Chevayur  75000.0          0.0
7     pipi   0.0          0      0.0          0.0